
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<nav class="navbar navbar-dark bg-dark">
 <div class="nav-wrapper">
    <a routerLink='/home' class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><form class="form-inline" action="">
        <input type="search">
        <i class="fa fa-search"></i>
      </form></li>
      <li><a routerLink='/askQuestion' >Ask Question</a></li>
    <li><a href="badges.html">Sign-In</a></li>
      <li><a href="collapsible.html">Sign-Up</a></li>
      <li><a routerLink='/uploadImage'><i class="material-icons">account_circle</i></a></li>
      <!---<li><form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form></li>-->
    </ul>
 </div> 
</nav>