

<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<div class="collection fontSizeClass" *ngFor="let q of answer.answerList" style="background-color: white">
  
  <a  class="collection-item myclass" >{{q.answer}}</a>
  <div class="myclass2">
  <a (click)="upvote()" style="cursor: pointer;"><i class='far fa-thumbs-up' style='font-size:20px'></i></a>
  <div><h6>{{q.votes}}</h6></div>
  <a (click)="downvote()" style="cursor: pointer;"><i class='far fa-thumbs-down' style='font-size:20px'></i></a>
  </div>
  <br>
</div>
  <div>
      <form #ansPosting="ngForm" (ngSubmit)="OnSubmit(answ.value,q.quesId)">
       <br>
       <label><h5>Post Your Answer Down Below</h5></label> 
        <input #answ type="text" name="answer" placeholder="Your answer over here" >
    <button type="submit">Submit</button>
    </form>
    </div>



    <div class="main">
      <div class="Pager">
        <a (click)='Nav("f")' >FIRST</a>
        </div>
        <div class="Pager">
        <a (click)='Nav("p")'>PREV</a>
        </div>
        <div class="Pager">
        <input #jumper type="number" min="1" width="1" height="2" required placeholder="Enter desired page">
        <button (click)="jump(jumper.value)" class="JumpButton">Jump!</button>
        </div>
        <div class="Pager">
        <a (click)='Nav("n")'>NEXT</a>
        </div>
        <div class="Pager">
        <a (click)='Nav("l")'>LAST</a>
        </div>
        <br><br>
        <br><br>
        </div>
        
      <div class="CurrentPage" >
        {{currentPage}} 
      </div>
